.button{
    font-family: var(--font);
    padding: 12px 25px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    color: inherit;
    display: inline-block;
    outline: none;
    background: var(--color3);
    color: var(--text-dark);
}

.button:active:not(:disabled){
    transform: translate(0, 2px);
}

.button:disabled {
    background: var(--color4);
}

.button + .button{
    margin-left: var(--spacing-medium);
}