.button {
    font-family: var(--font);
    padding: 12px 25px;
    border-radius: var(--border-radius);
    border: 0;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    outline: none;
    background: var(--color3);
    color: var(--text-dark);
    border: 1px solid transparent;
    vertical-align: middle;
    margin: 0 var(--spacing-medium) var(--spacing-medium) 0;
}

.button2{
    composes: button;
    background: var(--color6);
    border: 1px solid var(--color4);
}

.button:active:not(:disabled) {
    transform: translate(0, 2px);
}

.button:disabled {
    background: var(--color4);
}

.button:last-child{
    margin-bottom: 0;
}