.formRow{
    margin: 0 0 var(--spacing-medium);
}

.formRow label{
    display: block;
    margin: 0 0 var(--spacing-smallest);
}

.longField {
    width: 100%;
    margin: 0 0 var(--spacing-medium) 0 !important;
}

.shortField{
    width: 49%;
    margin: 0 2% var(--spacing-medium) 0 !important;
}

.shortField:nth-child(2n -1){
    margin: 0 0 var(--spacing-medium) 0 !important;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag input{
    display: none;
}

.tag input:checked + label{
    background: var(--color3);
}

.tag label{
    display: inline-block;
    padding: 8px 14px;
    background: var(--color4);
    border-radius: var(--border-radius);
    margin: 0 var(--spacing-small) var(--spacing-small) 0;
    cursor: pointer;
    text-align: center;
    outline: none;
}