:root {
    --color1: #3e4149;
    --color2: #444f5a;
    --color3: #ff9999;
    --color4: #ffc8c8;
    --color5: #efefef;
    --font-size: 16px;
    --font: 'Quicksand','Arial', sans-serif;
    --text-dark: var(--color1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--text-dark);
    background: var(--color5);
    font-size: var(--font-size);
}

a {
    color: var(--color2);
    text-decoration: none;
}

p {
    margin: 15px 0;
}

ul {
    margin: 15px 0;
    padding: 0 40px;
}

textarea {
    font-family: var(--font);
}