:root {
    --color1: #3e4149;
    --color2: #444f5a;
    --color3: #e3c467;
    --color4: #ccc;
    --color5: #efefef;
    --question-color1: #f29f85;
    --question-color2: #b4ec8d;
    --question-color3: #85daf5;
    --question-color4: #f0e295;
    --font-size: 16px;
    --font: 'Quicksand','Arial', sans-serif;
    --text-dark: var(--color1);
    --spacing-smallest: 5px;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--text-dark);
    background: var(--color5);
    font-size: var(--font-size);
}

a {
    color: var(--color2);
    text-decoration: none;
}

p {
    margin: 0 0 var(--spacing-medium) 0;
}

ul {
    margin: var(--spacing-medium) 0;
    padding: 0 var(--spacing-large);
}

textarea {
    font-family: var(--font);
}

h1, h2, h3, h4 {
    margin: 0 0 var(--spacing-medium);
}

h5, h6 {
    margin: 0 0 var(--spacing-small);
}

hr{
    border: 0;
    border-top: 1px solid var(--color4);
    margin: var(--spacing-medium) 0;
}

input[type=text],
input[type=number],
input[type=file],
select {
    padding: var(--spacing-small);
    font-family: var(--font);
    border: 1px solid var(--color4);
    font-size: 14px;
    outline: none;
    min-width: 240px;
    background: #fff;
}