.container {
    max-width: 800px;
    margin: auto;
}

.main {
    padding: var(--spacing-small);
}

.header {
    padding: var(--spacing-small);
    margin: 0 0 var(--spacing-small);
    /* box-shadow: 0px 0px 6px #d9bc9d; */
    background: var(--color1);
    color: var(--color5);
}

.logo {
    font-size: 20px;
    font-weight: normal;
}

.section {
    margin: var(--spacing-large) 0;
    padding: 0 var(--spacing-small);
}

.section:first-child{
    margin-top: 0;
}

.title {
    margin: 0 0 var(--spacing-medium)
}

.fullHeightPage {
    padding: 10px;
    height: 100vh;
}