.container {
    max-width: 800px;
    margin: auto;
}

.header {
    padding: 10px;
    margin:0 0 10px;
    /* box-shadow: 0px 0px 6px #d9bc9d; */
    background: var(--color1);
    color: var(--color5);
}

.title {
    font-size: 20px;
    font-weight: normal;
}

.section {
    margin: 40px 0;
    padding: 0 10px;
}

.section:first-child{
    margin-top: 0;
}