.playerCurrent{
    font-weight: bold;
    color: var(--color3)
}

.playerOwner:after {
    content: '♕';
    font-size: 11px;
    font-weight: normal;
    transform: translate(0, -8px);
    display: inline-block;
}

.invitePanel{
    padding: var(--spacing-small);
    background: var(--color2);
    color: var(--color5);
    margin: var(--spacing-medium) 0;
    word-wrap: break-word;
    max-width: 540px;
    border-radius: var(--border-radius);
}

.invitePanel a {
    color: var(--color5);
}

.panel {
    background: var(--color1);
    padding: var(--spacing-small);
    margin: 0 0 var(--spacing-medium);
    color: var(--color5);
    max-width: 540px;
    border-radius: var(--border-radius);
}

.panel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.panel ul li{
    background: var(--color1);
    padding: 4px;
    border-bottom: 1px solid var(--color5);
}

.title {
    font-size: 22px;
    margin: 0;
}

.nameField {
    margin: 0 var(--spacing-medium) 0 0;
}

.joinPanel{
    composes: panel from 'page.module.css';
    display: inline-block;
    background: var(--color2);
    border: 0;
}

.currentQuizPanel{
    margin: 0 0 var(--spacing-medium);
}