.section {
    margin: var(--spacing-large) 0;
    padding: 0 var(--spacing-small);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main {
    margin: var(--spacing-small) 0;
    padding: 0 var(--spacing-small);
}

.header {
    padding: var(--spacing-small);
    margin: 0 0 var(--spacing-small);
    background: var(--color1);
    color: var(--color5);
}

.logo {
    font-size: 20px;
    font-weight: normal;
}

.section {
    margin: var(--spacing-large) 0;
    padding: 0 var(--spacing-small);
}

.title {
    margin: 0 0 var(--spacing-medium)
}

.features {
    display: flex;
    flex-direction: column;
}

.feature {
    padding: 10px;
    background: var(--color2);
    text-align: center;
    border-bottom: 1px solid var(--color5);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color5);
}

.featureTitle{
    font-weight: normal;
    margin: 0;
}

.panel {
    background: var(--color6);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    border: 1px solid var(--color4);
}

.buttonPanel{
    margin: var(--spacing-medium) 0 0;
}

.loading {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.loadingAnimation {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.loadingAnimation div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--color4);
    animation: loadingAnimation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loadingAnimation div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loadingAnimation div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.loadingAnimation div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes loadingAnimation {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.loadingText {
    color: var(--color4);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
}

@media only screen and (min-width: 768px){
    .main {
        margin: var(--spacing-medium) 0;
        padding: 0 var(--spacing-medium);
    }
    .buttonPanel{
        margin: var(--spacing-large) 0 0;
    }
}