.section {
    margin: var(--spacing-large) 0;
    padding: 0 var(--spacing-small);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main {
    margin: var(--spacing-small) 0;
    padding: 0 var(--spacing-small);
}

.header {
    padding: var(--spacing-small);
    margin: 0 0 var(--spacing-small);
    background: var(--color1);
    color: var(--color5);
}

.logo {
    font-size: 20px;
    font-weight: normal;
}

.section {
    margin: var(--spacing-large) 0;
    padding: 0 var(--spacing-small);
}

.title {
    margin: 0 0 var(--spacing-medium)
}

.features {
    display: flex;
    flex-direction: column;
}

.feature {
    padding: 10px;
    background: var(--color2);
    text-align: center;
    border-bottom: 1px solid var(--color5);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color5);
}

.featureTitle{
    font-weight: normal;
    margin: 0;
}

.panel {
    background: var(--color6);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    border: 1px solid var(--color4);
}

.buttonPanel{
    margin: var(--spacing-medium) 0 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px){
    .main {
        margin: var(--spacing-medium) 0;
        padding: 0 var(--spacing-medium);
    }
    .buttonPanel{
        margin: var(--spacing-large) 0 0;
    }
}