.questionPanel{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answerButton{
    composes: button from './buttons.module.css';
    width: 48%;
    margin: 0 0 var(--spacing-medium) !important;
}

.answerButton:nth-child(3),
.answerButton:nth-child(4){
    margin-bottom: 0;
}