.main {
    padding: var(--spacing-small);
    max-width: 800px;
    margin: auto;
}

.questionPanel{
    composes: panel from 'page.module.css';
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    justify-content: space-between;
    position: relative;
}

.answers {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.answer {
    font-size: 24px;
    margin: 0 0 var(--spacing-medium);
}

.answerLetter{
    background: var(--color3);
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    width: 34px;
    height: 34px;
    padding-top: 4px;
    text-align: center;
    margin-right: var(--spacing-medium)
}

.answerText{
    vertical-align: middle;
}

.answerButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answerButton{
    composes: button from './buttons.module.css';
    width: 48%;
    margin: 0 0 var(--spacing-small) !important;
}
.answerButton:nth-child(3),
.answerButton:nth-child(4){
    margin: 0 !important;
}

.answerButton:nth-child(3),
.answerButton:nth-child(4){
    margin-bottom: 0;
}

.timer {
    background: #fff;
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: var(--spacing-medium) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border: 3px solid var(--color4);
    position: absolute;
    top: -5px;
    right: 10px;
}

.answer:nth-child(1) .answerLetter,
.answerButton:nth-child(1) {
    background: var(--question-color1);
}

.answer:nth-child(2) .answerLetter,
.answerButton:nth-child(2) {
    background: var(--question-color2);
}

.answer:nth-child(3) .answerLetter,
.answerButton:nth-child(3) {
    background: var(--question-color3);
}

.answer:nth-child(4) .answerLetter,
.answerButton:nth-child(4) {
    background: var(--question-color4);
}

.image {
    width: 100%;
    height: 200px;
    position: relative;
}

@media only screen and (min-width: 768px){
    .main {
        padding: var(--spacing-medium);
    }
    .questionPanel{
        padding: var(--spacing-medium);
        min-height: auto;
    }
    .answerButton{
        margin: 0 0 var(--spacing-medium) !important;
    }
    .answers {
        margin: var(--spacing-large) 0;
    }
    .image{
        height: 400px;
    }
}