.list {
    display: grid;
    grid: auto auto / 1fr 1fr;
    gap: var(--spacing-small);
}

.listItem {
    border: 1px solid var(--color4);
    cursor: pointer;
    background: var(--color6);
    border-radius: 4px;
    overflow: hidden;
}

.listItemContent {
    padding: var(--spacing-smallest);
}

.title {
    margin: 0;
    font-size: 16px;
}

.tags {
    margin: var(--spacing-smallest) 0;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 3px 5px;
    background: var(--color3);
    display: block;
    margin: 0 2px 2px 0;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
}

.questions{
    font-size: 13px;
    margin: var(--spacing-smallest) 0;
}

.info{
    font-size: 14px;
    margin: var(--spacing-smallest) 0 0;
}

@media only screen and (min-width: 768px){
    .list{
        grid: auto auto / 1fr 1fr 1fr;
        gap: var(--spacing-medium);
    }
    .title{
        font-size: 18px;
    }
    .tag {
        font-size: 12px;
        margin-right: var(--spacing-smallest);
    }
}

@media only screen and (min-width: 1024px){
    .list{
        grid: auto auto / 1fr 1fr 1fr 1fr;
        gap: var(--spacing-medium);
    }
}