.list {
    display: grid;
    grid: auto auto / 1fr 1fr;
    gap: var(--spacing-small);
    margin: 0 0 var(--spacing-large);
}

.listItem {
    border: 1px solid var(--color4);
    cursor: pointer;
    background: var(--color6);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.listItemContent {
    padding: var(--spacing-smallest);
}

.title {
    margin: 0;
    font-size: 16px;
}

.tags {
    margin: var(--spacing-smallest) 0;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: 4px 6px;
    background: var(--color3);
    display: block;
    margin: 0 4px 4px 0;
    border-radius: var(--border-radius);
    font-size: 14px;
    font-weight: bold;
}

.listItem .tag{
    font-size: 11px;
    margin: 0 2px 2px 0;
    padding: 3px 5px;
}

.questions {
    font-size: 13px;
    margin: var(--spacing-smallest) 0;
}

.info {
    font-size: 14px;
    margin: var(--spacing-smallest) 0 0;
}

.panel {
    background: var(--color6);
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid var(--color4);
    margin: 0 0 var(--spacing-large);
    max-width: 400px;
}

.content {
    padding: var(--spacing-small);
}

.card {
    composes: listItem;
    max-width: 250px;
    margin: 0 0 var(--spacing-medium);
    cursor: initial;
}

@media only screen and (min-width: 768px){
    .list{
        grid: auto auto / 1fr 1fr 1fr;
        gap: var(--spacing-medium);
    }
    .title{
        font-size: 18px;
    }
    .listItem .tag {
        font-size: 12px;
        margin-right: var(--spacing-smallest);
    }

    .content{
        padding: var(--spacing-medium);
    }
}

@media only screen and (min-width: 1024px){
    .list{
        grid: auto auto / 1fr 1fr 1fr 1fr;
        gap: var(--spacing-medium);
    }
}